doctype html
html
	head
		title= title
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="author", content="Mor(e)nite")

		link(rel='stylesheet', media='all', href='/components/bootstrap/dist/css/bootstrap.min.css')

		//- TODO: Include stylesheets file here.

body
	block content
	include ../elements/footer

	script(src='/components/jquery/dist/jquery.min.js')
	script(src='/components/angular/angular.min.js')
	script(src='/components/angular-bootstrap/ui-bootstrap-tpls.min.js')
	script(src='/components/angular-bootstrap/ui-bootstrap.min.js')
	script(src='/components/bootstrap/dist/js/bootstrap.min.js')

	block scripts
