doctype html
html
	head
		title= title
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="author", content="Mor(e)nite")

		//- TODO: Include stylesheets file here.

body
	block content
	include ../elements/footer

	script(src='/componenents/jquery/dist/jquery.min.js')
	script(src='/componenents/angular/angular.min.js')
	script(src='/componenents/angular-bootstrap/ui-bootstrap-tpls.min.js')
	script(src='/componenents/angular-bootstrap/ui-bootstrap.min.js')
	script(src='/componenents/bootstrap/dist/js/bootstrap.min.js')

	block scripts
